BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 2
ColumnLimit: 110
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
